/* Blog Specific Styles */
.blog-list {
    display: flex;
    flex-direction: column; /* I rendit postimet njërin pas tjetrit teposhtë */
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.glass-post {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 25px;
    transition: 0.3s;
}

.glass-post:hover {
    background: rgba(255, 255, 255, 0.07);
    border-color: #333;
    padding-left: 35px; /* Efekt lëvizjeje kur i afrohesh me maus */
}

.post-date {
    font-size: 0.8rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.glass-post h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.glass-post p {
    color: #a0aec0;
    font-size: 1rem;
    margin-bottom: 15px;
}

.read-more {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    border-bottom: 1px solid #333;
}

.read-more:hover {
    color: #333;
}

/* Footer Styles */
.main-footer {
    background-color: #222; 
    color: #ffffff;
    text-align: center;    
    padding: 20px 0;  
    width: 100%;
    font-family: Arial, sans-serif; 
    font-size: 14px;
}

.main-footer p {
    margin: 0;  
}