/* Resetimi i bazës */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #031338; /* Ngjyrë e errët si në foton tënde, por më e pasur */
    background-image: radial-gradient(circle at top right, #333, #333, #0f172a);
    font-family: 'Segoe UI', sans-serif;
    color: white;
    min-height: 100vh;
    padding: 0px 20px;
}

.creative-container {
    max-width: 1100px;
    margin: 0 auto;
}

.creative-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-shadow: 0 0 10px white
    ;
}

/* Krijimi i rreshtit me karta (Grid) */
.creative-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

/* (Glassmorphism) */
.glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    transition: 0.3s ease;
}

.glass-card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.1);
    border-color: #333;
}

.card-icon {
    font-size: 50px;
    margin-bottom: 20px;
}

.glass-card h3 {
    margin-bottom: 15px;
    color: #fff;
}

.glass-card p {
    color: #cbd5e1;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* Butoni */
.glass-btn {
    text-decoration: none;
    color: white;
    background: #333;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}

.glass-btn:hover {
    box-shadow: 0 0 20px #333;
    background: #0f172a;
}

/* --- FOOTER STYLES --- */
.main-footer {
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #white;
    margin-bottom: 15px;
}

.footer-content p {
    color: #cbd5e1;
    margin-bottom: 25px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.social-icon {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    transition: 0.3s;
}

.social-icon:hover {
    background: #333007bff;
    border-color: #333;
    box-shadow: 0 0 15px rgba(51, 51, 51, 0.5);
}

.footer-bottom {
    font-size: 0.8rem;
    color: #64748b;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 20px;
}