* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* NAVBAR */
nav {
  background: #222;
  padding: 15px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

nav ul li a:hover {
  color: #333;
}

/* HEADER */
header {
  background: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center; }

header h1 {
  font-size: 2.5rem;
}

header p {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #ccc;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  margin-bottom: 15px;
  color: #222;
}

.box {
  background: #fff;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.projects ul {
  list-style: none;
}

.projects li {
  background: #f0f0f0;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 5px;
}

.contact a {
  color: #333;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: #aaa;
}

.home {
  padding-bottom: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.home h1 {
  font-size: 40px;
  color: #333;
  margin-bottom: 15px;
}

.home p {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-buttons a {
  text-decoration: none;
  background: #333;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  margin: 0 8px;
  display: inline-block;
  transition: 0.3s ease;
}

.home-buttons a:hover {
  background: #333;
}

.footer {
  text-align: center;
  padding: 15px 0;
  background: #222;
  color: #aaa;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.profile-pic {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid #333;
  margin-top: 10px;
}
