/* --- TERMS SECTION STYLES --- */

.terms-box {
    background: #ffffff;
    padding: 50px;
    border-radius: 30px;
    border: 1px solid #eee;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    max-width: 900px;
    width: 100%;
}

.terms-intro {
    text-align: center;
    color: rgb(32, 4, 97) ;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 40px;
}

.terms-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.term-item {
    border-left: 4px solid rgb(32, 4, 97);
    padding-left: 20px;
    transition: 0.3s;
}

.term-item:hover {
    transform: translateX(10px); 
}

.term-item h3 {
    color: #23096c;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.term-item p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
}

.terms-footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    text-align: center;
    font-style: italic;
    color: #999;
}

.main-footer {
    background-color: #222;
    color: #ffffff;         
    text-align: center;    
    padding: 20px 0;      
    width: 100%;
    font-family: Arial, sans-serif; 
    font-size: 14px;
}

.main-footer p {
    margin: 0;      
}